.button{
    -fx-font-weight:bold;
    -fx-background-color: #15cce3;
    -fx-background-radius: 22;
    -fx-border-color: #2a78de;
    -fx-border-radius: 20;
    -fx-font-size: 12;
    -fx-border-width:2;
    -fx-text-fill: black;


}
/*
.button :hover {

    -fx-font-weight:bold;
    -fx-background-color: red;
    -fx-background-radius: 22;
    -fx-font-size: 13;
    -fx-text-fill: #2196f3;
    -fx-border-color: red ;
    -fx-border-radius: 20;
    -fx-border-width:3;

}

.button.pressed{

    -fx-font-weight:bold;
    -fx-background-color: red;
    -fx-background-radius: 22;
    -fx-font-size: 13;
    -fx-text-fill: #2196f3;
    -fx-border-color: #2196f3 ;
    -fx-border-radius: 20;
    -fx-border-width:3;
    -fx-rotate: 10;
}
*/
